[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-vvs-incidents
Exec=harbour-vvs-incidents
Name=VVS Incidents
Name[de]=VVS Störungen
Name[en]=VVS Incidents

[X-Sailjail]
OrganizationName=de.andreas-wuest-it-consulting
ApplicationName=vvs-incidents
Permissions=Internet
